/* custom.css */
article img {
  /* Make sure that images within blog articles never take more width
     than the article width; `height: auto` ensures the height is also
     resized proportionally.

     This is useful given that Markdown itself gives you little
     control over image resizing, and in particular no way to achieve
     this "best fit" behavior.
 */
  max-width: 100%;
  height: auto;
}

#content {
  padding-top: 15px;
}

h1 {
  margin-
  padding: 0 0 1px 0;
  font-weight: bold;
  font-size: 1.6em;
}

h2, h4 {
  margin: 24px 0 12px 0;
  padding: 0;
  font-weight: normal;
}

h2 {
  font-size: 1.4em;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #DDDDDD
}

h4 {
  font-size: 1em
}

h3 {
  margin: 8px 0 8px 0;
  color: #777777;
  font-size: 1.2em;
  font-weight: bold
}

h4 {
  color: #666666
}

/*li:last-child {
    margin-bottom: 10px;
}*/
table.bareTable {
  border: 0px solid black;
  border-collapse: collapse;
  caption-side: top;
  padding: 20em;
  margin: 24px auto;
  text-align: center
}

table.bareTable td, table.bareTable th {
  padding: 10px
}

code {
  color: black;
  font-size: 11pt;
  background-color: inherit;
}

pre {
  white-space: pre;
  font-family: 'Hack', monospace;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #f3f3f3;
  padding: 4px 12px;
  border: 1px solid;
  border-radius: 3px;
  margin: 16px 0px;
  font-size: 10pt;
}

.hljs {
  background: inherit;
}

div.toc {
  border: 1px solid black;
  background-color: #f6f6f8;
  padding: 8px 36px 0px 12px;
  border-radius: 3px;
  margin: 16px 0px;
  display: inline-block
}

table.lined {
  margin: 2px;
  text-align: center;
}

table.narrow {
  max-width: 600px
}

.lined td {
  padding: 5px 5px;
  border: 1px solid black;
}

.lined th {
  padding: 5px 5px;
}

.lined tr:hover {
  background-color: #f5f3f5;
}

td {
  padding: 5px;
  text-align: center;
  border: 1px solid gray;
}

tr:hover {
  background-color: #f5f3f5;
}

.tipue_navbar_icon {
  height: 26px;
  vertical-align: middle;
  padding: 4px 0px 4px 0px;
}

a img.hover {
  display: none;
}

a img.default {
  display: inherit;
}

a:hover img.hover {
  display: inherit;
}

a:hover img.default {
  display: none;
}

img.navbar-logo {
  width: 56px;
  border-radius: 28px;
}

a {
  color: #3464eb;
}

/* A hack for aligning columns in tables 
   without having to apply styles to each 
   td element in the column. */
/* https://stackoverflow.com/questions/4458131/is-there-a-way-to-set-the-text-alignment-of-entire-column-in-a-table */
.tl1 td:nth-child(1), .tl1 th:nth-child(1),
.tl2 td:nth-child(2), .tl2 th:nth-child(2),
.tl3 td:nth-child(3), .tl3 th:nth-child(3),
.tl4 td:nth-child(4), .tl4 th:nth-child(4),
.tl5 td:nth-child(5), .tl5 th:nth-child(5),
.tl6 td:nth-child(6), .tl6 th:nth-child(6),
.tl7 td:nth-child(7), .tl7 th:nth-child(7),
.tl8 td:nth-child(8), .tl8 th:nth-child(8),
.tl9 td:nth-child(9), .tl9 th:nth-child(9) {
  text-align: left
}

.tr1 td:nth-child(1), .tr1 th:nth-child(1),
.tr2 td:nth-child(2), .tr2 th:nth-child(2),
.tr3 td:nth-child(3), .tr3 th:nth-child(3),
.tr4 td:nth-child(4), .tr4 th:nth-child(4),
.tr5 td:nth-child(5), .tr5 th:nth-child(5),
.tr6 td:nth-child(6), .tr6 th:nth-child(6),
.tr7 td:nth-child(7), .tr7 th:nth-child(7),
.tr8 td:nth-child(8), .tr8 th:nth-child(8),
.tr9 td:nth-child(9), .tr9 th:nth-child(9) {
  text-align: right
}

.tc1 td:nth-child(1), .tc1 th:nth-child(1),
.tc2 td:nth-child(2), .tc2 th:nth-child(2),
.tc3 td:nth-child(3), .tc3 th:nth-child(3),
.tc4 td:nth-child(4), .tc4 th:nth-child(4),
.tc5 td:nth-child(5), .tc5 th:nth-child(5),
.tc6 td:nth-child(6), .tc6 th:nth-child(6),
.tc7 td:nth-child(7), .tc7 th:nth-child(7),
.tc8 td:nth-child(8), .tc8 th:nth-child(8),
.tc9 td:nth-child(9), .tc9 th:nth-child(9) {
  text-align: center
}

.tipue_search_right {
  color: gray;
}

.images {
  padding: 20px 0px 0px 0px;
}

.sidebyside {
  width: 35%;
}

img.resume-image {
  padding-left: 0; 
  width: 49%;
  border: 1px solid #DDD;
}

.franklin-content h1 { 
  border-bottom: none;
  font-size: 1.5em;
  text-align: center;
}

body {
  font-family: "Source Sans Pro";
  font-size: 14pt;
}

.franklin-content .centered {
  margin-left: auto; 
  margin-right: auto;
  display: block;
}



.jxgbox button {
  color: black;
  font-family: "Source Sans Pro", "Palatino", "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.02em;
  font-size: 0.8125rem;
  z-index: 10;
  padding: 0 0.8em 0.2em 0.8em;
  height: 2em;
  line-height: 1.75;
  font-weight: 400;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #AAA;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.4), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.jxgbox button:active, .jxgbox button:focus {
  outline: 0;
  -moz-outline-style: none;
}

.jxgbox button:hover {
  opacity: 0.95;
  cursor: pointer;
}

.jxgbox button:active { transition: transform .2s, background .2s, color .2s, box-shadow .2s; transform: scale(0.95); }

.franklin-content .jxgbox {
  border: none;
}

.franklin-content {
  padding-bottom: 4em;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .tipue_search_left_menu {
    margin-right: 4px;
    transform: translate(0, 2px);
  }
}

.franklin-content li {
  margin-bottom: 12px;
}